DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=empleabilidad_db

JWT_SECRET=super_secret_jwt_key
JWT_EXPIRES_IN=1d

API_KEY=empleabilidad_api_key_123

PORT=4000